<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!loading">
  <ion-card>
    <ion-card-header>
      <ion-card-title>City</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <h2>{{ data.city.name }}</h2>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-text>
        <h1>Air Quality Index</h1>
      </ion-text>
      <ion-text [ngStyle]="aqiStyle(index)" style="text-align: center">
        <div style="font-size: 96pt">{{ data.aqi }}</div>
      </ion-text>
      <ion-card-title style="margin: auto; margin-top: 5px"
        >{{ index.level }}</ion-card-title
      >
    </ion-card-header>

    <ion-card-content> {{ index.implications }} </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Measurement time information</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <app-pie-chart #iAqi [iAqi]="data.iaqi"> </app-pie-chart>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Forecast Graphs</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-content *ngIf="data.forecast.daily.o3">
        <app-bar-chart
          #o3
          [id]="'o3'"
          [aqiForecastValue]="data.forecast.daily.o3"
        ></app-bar-chart>
      </ion-card-content>

      <ion-card-content *ngIf="data.forecast.daily.pm25">
        <app-bar-chart
          #pm25
          [id]="'pm2.5'"
          [aqiForecastValue]="data.forecast.daily.pm25"
        ></app-bar-chart>
      </ion-card-content>

      <ion-card-content *ngIf="data.forecast.daily.pm10">
        <app-bar-chart
          #pm25
          [id]="'pm10'"
          [aqiForecastValue]="data.forecast.daily.pm10"
        ></app-bar-chart>
      </ion-card-content>

      <ion-card-content *ngIf="data.forecast.daily.uvi">
        <app-bar-chart
          #pm25
          [id]="'pm10'"
          [aqiForecastValue]="data.forecast.daily.uvi"
        ></app-bar-chart>
      </ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
