<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Region Search</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-list [inset]="true">
      <ion-item>
        <ion-input
          label="Search"
          labelPlacement="floating"
          type="text"
          formControlName="search"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-list [inset]="true" *ngIf="filteredOptions.length > 0">
      <ion-item
        *ngFor="let option of filteredOptions"
        (click)="selectOption(option)"
      >
        {{ option.station.name }}
      </ion-item>
    </ion-list>
  </form>
</ion-content>
